<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Weibo On Rails</h1>
    <h2>Welcome to Webo On Rails</h2>
    <%= link_to "Sign Up",  signup_path, class:"btn btn-large btn-primary"%>
</div>